<div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
  <div class="card-category"></div>
  <div class="price-tag">
    <p><%= gist.name%> </p>
  </div>
  <div class="card-description">
    <p><%= gist.description %></p>
  </div>
  <!-- content + user + category + review count -->
</div>
