<div class="span12">
  <form id="custom-search-form" class="form-search form-horizontal pull-right">
    <div class="input-append span12">
      <input type="text" class="search-query mac-style" placeholder="Search for gists">
      <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var client = algoliasearch(ENV["ALGOLIA_APP_ID"], ENV["ALGOLIA_ADMIN_API_KEY"]);
      console.log(client);
      var index = client.initIndex('Gist');
      index.search('.search-query', function(success, hits) {
      console.log(success, hits)
    }, { hitsPerPage: 10, page: 0 });
  });
  </script>
<% end %>

