<!-- <div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-8">
      <h1>Search any gist you'd like</h1>
      <div class="span12">
        <form id="custom-search-form" class="form-search form-horizontal">
          <div class="input-append span12">
            <input type="text" name="search_query" class="search-query mac-style" placeholder="Search for gists on Github">
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 -->
