<div class="gists-cards-listing">
  <div class="container">
    <div class="row">
    <% if @gists.count > 0 %>
      <% @gists.each do |gist| %>
      <div class="col-xs-3 col-xs-offset-1">
        <%= render "shared/card", gist: gist %>
      </div>
      <% end %>
    <% else %>
      <div class="text-center">
        <h3>Yet no gists are matching your search</h3>
      </div>
    <% end %>
    </div>
  </div>
</div>
