<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @gist.name %></h1>
      <p><%= @gist.description %></p>
      <div class="trix-content" style="padding-top: 25px;">
        <%= @gist.content %>
      </div>
    </div>
  </div>
</div>
